.card-container {
    margin: 10px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 4px;
}

.info-icon {
    font-size: 20px;
}

.stock {
    color: gray;
    font-size: 12px;
}
